@charset "UTF-8";
/* Mobile Responsive */
@media only screen and (max-width: 768px){

h1{
font-size:35px;
}

h2{
font-size:25px;
}

.box{
width:140px;
height:100px;
font-size:18px;
margin:10px;
}

.circle{
width:70px;
height:70px;
font-size:24px;
margin:10px;
}
}
body{
font-family: Arial, sans-serif;
text-align:center;
background:linear-gradient(#8ec5fc,#e0c3fc);
margin:0;
padding:0;
}

h1{
font-size:50px;
color:#222;
margin-top:40px;
}

h2{
font-size:35px;
}

input{
padding:12px;
font-size:18px;
border-radius:8px;
border:none;
}

button{
padding:12px 20px;
font-size:18px;
background:#ff9800;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#ff5722;
}

.box{
width:200px;
height:120px;
background:#4CAF50;
margin:20px;
display:inline-flex;
justify-content:center;
align-items:center;
font-size:22px;
color:white;
border-radius:15px;
cursor:pointer;
transition:0.3s;
}

.box:hover{
transform:scale(1.1);
background:#ff9800;
}

.circle{
width:100px;
height:100px;
border-radius:50%;
background:#ffcc00;
display:inline-flex;
justify-content:center;
align-items:center;
margin:20px;
font-size:30px;
cursor:pointer;
transition:0.3s;
}

.circle:hover{
transform:scale(1.2);
background:#ff5722;
}

#timer{
font-size:25px;
color:red;
margin-top:20px;
}